<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nov.dao.intf.UserDao">
	<resultMap id="User" type="com.nov.entity.User">
		<id column="user_id" property="userId" javaType="int" />
		<result column="username" property="username" javaType="String" />
		<result column="phone_number" property="phoneNumber"
			javaType="String" />
		<result column="sex" property="sex" javaType="String" />
		<result column="password" property="password" javaType="String" />
		<result column="salt" property="salt" javaType="String" />
		<result column="delete_flag" property="deleteFlag"
			javaType="String" />
		<result column="create_by" property="createBy"
			javaType="String" />
		<result column="create_time" property="createTime"
			javaType="Date" />
		<result column="update_by" property="updateBy"
			javaType="String" />
		<result column="update_time" property="updateTime"
			javaType="Date" />
	</resultMap>

	<select id="findById" resultMap="User" parameterType="int">
		SELECT
		*
		FROM sys_role_menu WHERE user_id = #{id}
	</select>

	<select id="findAll" resultMap="User">
		SELECT * FROM sys_user
	</select>

	<select id="findByUsername" resultMap="User">
		SELECT * FROM sys_user
		WHERE username=#{username}
	</select>

	<select id="findByPhone" resultMap="User">
		SELECT * FROM sys_user WHERE
		phonenumber=#{phone}
	</select>

	<select id="findByEmail" resultMap="User">
		SELECT * FROM sys_user WHERE
		email=#{email}
	</select>
</mapper>